extends modify

block table
  each val, arrIndex in tableTree
    h2= val.tablename
    form(action='/modified', method='post')
      table(border="1")
        tr
          th Version
          each optionval, optionlabel in val.tableoptions
            th= optionlabel
        tr
          td= val.tableversion
          each optionval, optionlabel in val.tableoptions
            td
              input(type='text', placeholder='#{optionval}', name=val.tablename+'-'+val.tableversion+'-'+'#{optionlabel}')
          td
            button(type="submit") Save Changes
      br
      br