

block table
  form(action='/committed', method='post')
    each val, arrIndex in tableTree
      div
        div(style="float:left", align="center")
          h2= val.tablename
        div(style="float:right", align="center")
          button(type="button", class="saveButton", data-recname=val.tablename) Save as New Version
        div(style="float:none", align="center")
          table(border="1", id=val.tablename+'-table')
            tr(id=val.tablename+'-labelrow')
              th Version
              each optionval, optionlabel in val.tableoptions
                th= optionlabel
            tr(class=val.tablename+'-valuerow')
              td= val.tableversion
              each optionval, optionlabel in val.tableoptions
                td
                  input(type='text', placeholder="#{optionval}", val="")