extends modify

block subhead
  script(src="javascripts/jquery-2.1.1.js")
  script(src="javascripts/newrow.js")

block table
  form(action='/committed', method='post')
    each val, arrIndex in tableTree
      div(id="tableContainer")
        div(id="tableLabel", style="float:left", align="center")
          h2= val.tablename
        div(id="tableButtons", style="float:right", align="center")
          button(type="button", class="tableButton") Save as New Version
        div(id="tableContents", style="float:none", align="center")
          table(border="1")
            tr
              th Version
              each optionval, optionlabel in val.tableoptions
                th= optionlabel
            tr
              td= val.tableversion
              each optionval, optionlabel in val.tableoptions
                td
                  input(type='text', placeholder='#{optionval}', name=val.tablename+'-'+val.tableversion+'-'+'#{optionlabel}')
      br
      br
    div(align="middle")
      button(type="submit", id="commitButton") Commit Changes
    br
    br