extends layout

block content
  h1= title
  form(action='/newrecipe', method='post')
    input(type='text', placeholder="Recipe Name", name='recipename')
    br
    h2= "Recipe Options"
    input(type='text', placeholder="Option Name", name='optionname')
    input(type='text', placeholder="Option Value", name='optionvalue')
    br
    input(type='text', placeholder="Option Name", name='optionname2')
    input(type='text', placeholder="Option Value", name='optionvalue2')
    br
    br
    button(type="button") Add More Option Fields
    h2= "Children Recipes"
    each recipe, i in recipes
      input(type='checkbox', name='#{recipe.name}', value='checked')
      | #{recipe.name}
      br
    br
    button(type="submit") Submit
    button(type="reset") Cancel