extends layout

block content
  h1= recipe["name"] + ' (Version ' + recipe["version"] + ')'
  h2= 'Options'
  each val, index in recipe["options"]
    li= index + ': ' + val
  h2= 'Children'
  each val, index in recipe["children"]
    li= val
  